<%= render 'shared/header_show', { h1_show: 'h1_pick_teacher', header_title: "toto" } %>
<!-- l @training.date_time, format: :complete } (#{ @training.duration } #{t 'training_duration' } )" -->

<%= render 'shared/accordion-page-top' %>


<div>
<%= simple_form_for @training do |f| %>
  <%= f.association :teachers, collection: @teachers %>
  <%= f.button :submit %>
<% end %>
</div>


<%= render 'shared/accordion-page-bottom' %>

















