<div class="row">
  <div class="col-xs-12 list">
    <div class="list-group-item active"><%= t('h1_users') %></div>
    <%= paginate @users %>
    <% @users.each do |u| %>
      <%= link_to u, class:'list-group-item' do %>
        <%= u.first_name %> <%= u.last_name %>
        <% status = u.has_membership? ? u.last_membership.status : 'no_membership' %>
        <span class="label pull-right label-<%= status.downcase %>">
          <%= t(status) %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
<%= paginate @users %>



