<div class="row">
  <div class="col-xs-12">
    <a href="#" class="list-group-item active"><%= t('h1_users') %></a>
    <% @users.each do |u| %>
    <a href="#" class="list-group-item">
      <%= u.id %> -
      <%= u.first_name %> <%= u.last_name %>
      <% status = u.has_membership? ? u.last_membership.status : 'no_membership' %>
      <span class="label pull-right label-<%= status.downcase %>">
        <%= t(status) %>
      </span>
    </a>
    <% end %>
  </div>
</div>

<!-- BALISE AVANT -->
<%= paginate @users %>
<!-- BALISE APRES -->



<!--
<div class="col-md-6">
  <div class="list-group">
    <a href="#" class="list-group-item active">Cras justo odio</a>
    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item">Morbi leo risus</a>
    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
    <a href="#" class="list-group-item">Vestibulum at eros</a>
    <a href="#" class="list-group-item"><span class="badge badge-primary">38</span>Morbi leo risus</a>
  </div>
</div> -->



<!--   <div class="col-md-6">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-primary">facilisis in</a>
      <a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
      <a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
      <a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
      <a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
    </div>
  </div> -->



