<%= render 'shared/header_show', {user_full_name: @user.full_name} %>

<div class='row'>
  <div class='col-md-12'>
    <div class='panel-group panel-group-lists' id='accordion2'>
      <div class='panel'>
        <div class='panel-heading'>
          <h4 class='panel-title'>
            <a data-toggle='collapse' data-parent='#accordion2' href='#collapseOne'>
              <strong><%= t 'user_details' %></strong>
            </a>
          </h4>
        </div>
        <div id='collapseOne' class='panel-collapse collapse in'>
          <div class='panel-body'>
            <div class='col-sm-12 col-md-6'>
              <div class='thumbnail'>
                <%= image_tag 'placeholder.png', class:'img-rounded'  %>
                <div class='caption text-center'>
                  <p><a href='#' class='btn btn-warning' role='button'><%= t 'sendmail' %></a></p>
                </div>
              </div>
            </div>
            <div class='col-sm-12 col-md-6'>
              <div class='panel panel-default inner-accordion'>
                <div class='panel-heading inner-accordion'>
                  <h3 class='panel-title'><%=  'member_since' %> <%= @user.member_since.nil? ? 'never_member' : @user.member_since %></h3>
                </div>
                <div class='panel-body membership'>
                  <!-- icons -->
                  <% member_class = gender_icon = @user.get_gender_icon %>
                  <%= render 'shared/icon_pull', { icone: gender_icon, classe:member_class } %>
                  <%= render 'shared/icon_pull', { icone: @user.get_user_type_icon, classe:member_class } %>
                  <%= render 'shared/icon_pull', { icone: 'mortar-board', classe:member_class } if @user.teacher? %>
                </div>
              </div>
              <%= render 'shared/item_field', { icone:'phone', field_name:'mobile_phone', field_value:@user.mobile_phone } %>
              <%= render 'shared/item_field', { icone:'home', field_name:'address', field_value:@user.address } %>
              <%= render 'shared/item_field', { icone:'', field_name:'postcode', field_value:@user.postcode } %>
              <%= render 'shared/item_field', { icone:'', field_name:'city', field_value:@user.city } %>
              <%= render 'shared/item_field', { icone:'', field_name:'country', field_value:@user.country } %>




            </div>
          </div>
        </div>
      </div>
      <div class='panel'>
        <div class='panel-heading'>
          <h4 class='panel-title'>
            <a data-toggle='collapse' data-parent='#accordion2' href='#collapseTwo'><%= t 'emergency_contact' %>
            </a>
          </h4>
        </div>
        <div id='collapseTwo' class='panel-collapse collapse'>
          <div class='panel-body'>
            <p><strong><%= t 'emergency_contact_name' %></strong> <%= @user.emergency_contact_name %></p>
            <p><strong><%= t 'emergency_contact_phone' %></strong> <%= @user.emergency_contact_phone %></p>
            <p><strong><%= t 'emergency_contact_relationship' %></strong> <%= @user.emergency_contact_relationship %></p>
          </div>
        </div>
        </div>
        <div class='panel'>
          <div class='panel-heading'>
            <h4 class='panel-title'>
              <a data-toggle='collapse' data-parent='#accordion2' href='#collapseThree'>
                Ligne pliable suivante
              </a>
            </h4>
          </div>
          <div id='collapseThree' class='panel-collapse collapse'>
            <div class='panel-body'>
              Contenu de la ligne pliable.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin pour le moment -->

<!--

<div class="example">
  <h2 class="example-title">Panels</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    </div>

    <div class="col-md-6">


      <div class="panel panel-default">
        <div class="panel-heading">Panel zzzzzheading</div>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>



      <div class="panel panel-default">
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
          <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
</div>





is_board_member
is_teacher

date_of_birth
birthplace_city
birthplace_postcode
birthplace_country

emergency_contact_name
emergency_contact_phone
emergency_contact_relationship



encrypted_password
reset_password_sent_at
remember_created_at
sign_in_count
current_sign_in_at
last_sign_in_at
current_sign_in_ip
last_sign_in_ip
created_at
updated_at
provider
uid
facebook_picture_url
 -->
