                <%= link_to attending_teachers,
                  class:'clearfix list-group-item list-group-item',
                  action: 'show', id: attending_teachers do %>
                <div class='col-xs-4 col-sm-3'>
                  <%= attending_teachers.full_name %>
                </div>
                <div class='col-xs-4 col-sm-3'>
                  <%= 'texte' %>
                </div>
                <div class='col-xs-4 col-sm-3'>
                  <%= 'texte' %>
                </div>
                <% end %>
                <a href='<%= training_destroy_teacher_path(@training, User.find(42)) %>'>test</a>

