<% if user_signed_in? %>
<% #TODO: configure Pundit to check whether logged_in users have access to links %>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb breadcrumb-arrow">
      <li><a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
      <li><span><%= l Time.now, format: :short %></span></li>
      <li><span><%= t('welcome') %> <%= current_user.first_name.nil? ? current_user.email : current_user.first_name %></span></li>
    </ol> <!-- breadcrumb -->
  </div> <!-- col -->
</div> <!-- row -->
<div class="row">
  <div class="col-md-6">
    <div class="panel">
      <div class="tabbable tabs-left clearfix">
        <ul id="hometabs" class="nav nav-tabs">
          <li class="active"><a href="#content1" data-toggle="tab"><%= t('tab_home')%></a></li>
          <li class=""><a href="#content2" data-toggle="tab"><%= t('tab_members')%></a></li>
          <li class=""><a href="#content3" data-toggle="tab"><%= t('tab_trainings')%></a></li>
          <li class=""><a href="#content4" data-toggle="tab"><%= t('tab_stats')%></a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="content1">
                <div><span class="head"><%= t('text_home')%></span></div>
          </div>
          <div class="tab-pane fade" id="content2">
            <p>
              <div><span class="head"><%= t('text_members')%></span></div>
              <div><a class="item" href='<%= users_path %>'><%= t('members_1')%></a></div>
              <div><a class="item" href=''><%= t('members_2')%></a></div>
              <div><a class="item" href=''><%= t('members_3')%></a></div>
              <div><a class="item" href=''><%= t('members_4')%></a></div>
            </p>
          </div>
          <div class="tab-pane fade" id="content3">
            <p>
              <div><span class="head"><%= t('text_trainings')%></span></div>
              <div><a class="item" href=''><%= t('trainings_1')%></a></div>
              <div><a class="item" href=''><%= t('trainings_2')%></a></div>
              <div><a class="item" href=''><%= t('trainings_3')%></a></div>
            </p>
          </div>
          <div class="tab-pane fade" id="content4">
            <p>
              <div><span class="head"><%= t('text_stats')%></span></div>
              <div><a class="item" href=''><%= t('stats_1')%></a></div>
              <div><a class="item" href=''><%= t('stats_2')%></a></div>
            </p>
          </div> <!-- tab-pane -->
        </div> <!-- tab-content -->
      </div> <!-- tabs -->
    </div> <!-- panel -->
  </div> <!-- col -->
  <div class="col-md-6">
<% else %>
  <div class="col-md-12">
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p><a class="btn btn-danger" href="users/sign_in"><%= t('authentify')%></a> <a class="btn btn-link" href="https://www.google.fr/search?q=chatons+mignons&tbm=isch"><%= t('watch_cats')%></a></p>
    </div>
  </div>
  <div class="col-md-12">
<% end %>
    <div class="thumbnail">
      <%= image_tag "chachats.jpg" %>
    </div> <!-- thumbnail -->
  </div> <!-- col -->
</div> <!-- row -->

<%#------- yield balise title -------%>
<% content_for(:title) do %><%=t('app_name')%><% end %>

<%#------- yield meta description -------%>
<% content_for(:description) do %>
<%=t('app_meta')%>
<% end %>
